Source: kouembedded-packageinstaller
Section: admin
Priority: optional
Maintainer: Taner Guven <tanerguven@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/KOU-Embedded-System-Lab/os-base-image

Package: kouembedded-packageinstaller
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-tk, xterm, gksu
Description: Custom GUI package installer for minimal OS images
 Custom GUI package installer for minimal OS images
